<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Morsel</string>
    <key>uuid</key>
    <string>70b08592-80f1-48e0-83d2-e15d2eb90331</string>
</dict>
</plist>
